body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* Hvid baggrund */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 300px; /* Juster størrelsen efter behov */
    height: auto;
    margin-bottom: 20px;
}

.register-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="submit"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #e74b7f;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #d64574;
}